body{
    background-image: url(Images/bg2.jpg);
    background-size: auto;    
}

#wall{    
    background-position: top;
}

h1{ padding-bottom: 15px;
}

h2{ padding-bottom: 10px;
}

h5{font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(94, 92, 92);

}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(70, 65, 65);
    
}

p::first-letter {
    font-size: 200%;
    color: rgb(94, 92, 92);
    
}
.p2 {
    font-size: 17px;
    color: rgb(70, 68, 68);
    font-weight: bold;
    margin-right: 20px;
}

.p3 {
    font-size: 1px;
    color: rgb(70, 68, 68);

    margin-right: 20px;
}

img {
    box-shadow: 5px 5px 5px rgba(90, 90, 94, 0.089);
}
    

.tightimage {    
   float: left;
   padding:10px;
}

.para-inline{
    display:inline-block;
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 35px; 
    padding: inherit; 
    font-weight: bold; 
    background-color:rgb(29, 15, 107);
}

.navbar-nav {
    font-size: 20px;
}

.btn{
    background-color: rgb(165, 191, 238);
}

.container {
    background-color: rgba(183, 183, 241, 0.062);
    margin-top: 15px;
    margin-left: 2520px; 
    opacity: 1;
    margin-bottom: 50px;
}

.container1 {
    background-color: none;
    margin-top: 20px;
    margin-left: 35px;
    opacity: 1;
    margin-bottom: 20px;
}

.cities {
    
    text-align: center;
    width: 75%;
    padding-left: 35px;
    margin-left: 20px;
    background-color: rgb(187, 187, 180);

}

.p1 {
    text-align: center;
}

.table1 {
    text-align: center;
}



.box {
    padding: 10px 10px; 
    background-color:rgba(115, 116, 119, 0);
  }
  
.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: rgb(12, 86, 204)
  }

.footer{
    text-align: center;
    padding-top: 300px;

    
    }
